<h1>DIVE INTO CODE</h1><small>秘密のグループ</small><br/>

<div class="image">
  <%= image_tag("DIC.jpg", size: "800x450") %>
</div>


<%= link_to 'New Topic', new_topic_path %>


<% @topics.each do |topic| %>
  <div class="container">
    <p><%= profile_img(topic.user) %></p>
    <p><%= topic.user.name %>さんが<%= topic.created_at %>に投稿しました。</p>
    <p><strong>タイトル：</strong><%= topic.title %></p>
    <p><%= simple_format(topic.content) %></p>

    <%= link_to '詳細を見る/コメントする', topic, class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_topic_path(topic), class: 'btn btn-info' if topic.user_id == current_user.id %>
    <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if topic.user_id == current_user.id %>
  </div>
<% end %>

<br>
