<h1>DIVE INTO CODE</h1><small>秘密のグループ</small><br/>

<div class="container-fluid">
  <%= image_tag("DIC.jpg", class: "img-responsive") %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_for(@topic) do |f| %>
        <%= profile_img(current_user) %> | <strong>新規投稿</strong>
        <p><%= f.label :title %></p>
        <p><%= f.text_field :title, placeholder: '何か書く' %></p>
        <p><%= f.label :content %></p>
        <p><%= f.text_area :content, placeholder: '何か書く' %></p>
        <p><%= f.submit '投稿する', class: 'btn btn-primary' %></p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% @topics.each do |topic| %>
        <p><%= profile_img(topic.user) %></p>
        <p><%= topic.user.name %>さんが<%= topic.created_at %>に投稿しました。</p>
        <p><strong>タイトル：</strong><%= topic.title %></p>
        <p><%= simple_format(topic.content) %></p>
        <%= link_to '詳細を見る', topic, class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_topic_path(topic), class: 'btn btn-info' if topic.user_id == current_user.id %>
        <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if topic.user_id == current_user.id %>
      <% end %><br>
    </div>
  </div>
</div>
